.border{
    /* border:2px solid red; */
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.aligncenter{
    align-items: center;
}
.margin{
    margin: 3px;
}
.width100{
    width: 100em;
}